<p>typescript</p>
addition : {{additio}}
<hr>
sum: {{sum(2,3,5)}}
<hr>
differenceBetweenLetAn: {{this.differenceBetweenLetAndVar()}}
<hr>
defferenceBetweenOfA: {{this.defferenceBetweenOfAndOn()}}
<hr>
passingObjectToFunc: {{this.passingObjectToFunction({name:'kk',age:34})}}
<hr>
Destructing : {{Destructing()}}
<hr>
print : {{print()}}
<hr>
calculate_discount : {{calculate_discount(1000)}}
<hr>
calculate_discount : {{calculate_discount(1000,0.30)}}
<hr>
display : {{display(6)}}
<hr>
res : {{res(5,7)}}
<hr>
factorial : {{factorial(7)}}
<hr>
exponent : {{exponent(7,6)}}
<hr>
disp_details: {{disp_details(1,'gg')}}
<hr>
myFunction : {{myFunction(4, 3)}}
