.btn{
    background-color:gray;
    color:white;
    padding: 20px;
    width: 50px;
    margin: 10px 10px;
    border-radius: 5px;
}
button{margin: 0 10px;}
.popup{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    text-align: center;
}
.my-form{
    padding:20px;
    background-color:blue;
    color:white;
    width:100px;
    margin: 30% 40%;
}