.add-btn {
          background-color: #085694;
          border: 0;
          padding: 7px 20px;
          border-radius: 5px;
          color: #fff;
}
.delete-btn {
    background-color: #f44336;
    border: 0;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
  }