<!--
لية عملوا فريم ورك ؟
انا لما بفتح صفحة من جوجل وليكن اليوم السابع اية اللى بيحصل لما بكتب كدة
اللى راجعة منة response وال HttpRequest بيروح يبعت
والداتا بتاعة الهوم بايج html ,css ,javascript بيكون عبارة عن
sports طب لما يدخل على الهوم بايج ودخل منها مثلا على ال
اللى راجع response فال
html ,css ,javascript بيكون عبارة عن
والداتا بتاعة الرياضة بس
والمتصفح موجود علية
والداتا بتاعة الهوم بايج
html ,css ,javascript
والداتا بتاعة الرياضة جاين جداد  html ,css ,javascript  وجايلة
 reload فالمتصفح بيعمل
بنفسة عشان  يعمل ريندر يعنى يشيل القديم ويعرض الداتا اللى جايلة جديدة
بتاعة الموقع  useability دى بيقلل ال  reload فالمتصفح لما بيعمل
فدى مشكلة بالنسبة لليوزر
reload فعشان يحل المشكلة دى ويلغى
single page application (SPAs) عمل حاجة اسمها
_____________
single page application طب اية ال
reload دا الموقع اللى  بيحاول فية الديفلبر  اننا ننقلل فية عملية ال
ازاى
بتاع كل الموقع html ,css ,javascript دا لما يبعت ريكوست بيبعت كل الكود ال
من اول ريكوست
بتاع الصفحة دى بس html ,css ,javascript  ويظهرلى منة كود ال
ويبعت الداتا بتاعة الصفحة اللى دخلت عليها بس
 sports دخل بعد كدة على صفحة ال
 sports بيبعت الداتا بتاعة ال
  XMLHttprequest عن طريق الاجاكس يعنى عن طريق ال
 وبيقدر يحيب الداتا من السرفير build in web ودا
 reload من غير
 home وبيخفى الفيو   بتاع
 ويظهرلى بتاع الرياضة

واحدة فى الاخر page جاية من ان كلة بيتجمع فى single page application طب
بتاع كل الموقع html ,css ,javascript عشان يقدر يجمع كل ال
يعنى فى الاخر كلة بيتجمع فى صفحة واحدة
index اللى هى ال
__________
benefits of using Angular.?
1-it enables developers to write clean code that’s easy to maintain.
2-Angular provides reusable components and data binding and offers modules
that make application creation smoother.
____________

angular.js
single page application فريم ورك بيساعد اننا نبنى فكرة
javascript framework which  allows you to create reactive single page application (SPAs)
___________

  single page application
   واحدة فى الاخر page جاية من ان كلة بيتجمع فى
  you can navigate around and in the URL
  you can see that we seem to visit different pages but in the end our page never change
  it's only one html file and abunch of javascript code we got from server
  every change is rendered in browser

  give the user a very reactive user experience (UX)
  javascript is mush faster than having to reach out to a server for every page change
  and for every new apiece of data you want to display
  so
  application is very fast
_________

difference between angular.js and angular2 ?

angular.js:
1- bigger application and worse performance
angular.js ربع angular2 بتاع performance يعنى ال angular.js افضل من angular2 بتاع performance ان ال
ثانية واحدة angular2 وبتاخد 4 ثوانى هتاخد فى angular.js  يعنى الحاجة اللى بعملها ريندر فى
2- Written in JavaScript.
3- AngularJS does not support mobiles.
4-Syntax is complicated to learn.
5- Uses MVC architecture to build the applications (model view controller)
 اللى هو اللوجيك بيكون لوحدة controller ال
 بيكون لوحدة view ال

angular2:
1- cross platform mobile application بتسمح انى اعمل ان
 يعنى من خلالها اقدر اكتب كود الكود دة يطلع على
 واندرويد
ios
angular.js لل support وان جوجل مبقتش بتعمل
2- Written in TypeScript(a superset of Javascript)
3- Syntax is comparatively easier than AngularJS
4- Uses MVVM architecture to build the applications(model view view model)
 view فبالتالى اللوجيك موجود فى ال controller مفيش
The MVVM model supports two-way data binding between View and ViewModel.
This allows the automatic propagation to change within ViewModel's state to the view.
Typically, ViewModel uses the observer model to inform changes to the ViewModel model to model.

--------------
التحسينات اللى بتكون فى الانجولار من انجولار 2 الى انجولار 9
small improvments overtime بتكون
small,incremental,backwords compatiable changes
تغييرات صغيرة ، تدريجية ، متوافقة مع الإصدارات السابقة
____________
pwa
stand for progressive web app
للموقع كلة بكل بياناتة download بتعمل
offLine يعنى بيعمل كاش للملفات وكل بيانات الموقع  دى فى المتصفح بتاعة عشان اقدر استخدمة
single page application  على based جوجل هى اللى عملها ودى
push notification وكمان بيسمح  للويب ب
_________
What is Angular 8 ?
Angular 8 is a client-side TypeScript based framework which is used to create
dynamic web applications. It is very similar to its previous versions
except having some extensive features.
is a platform and a framework which is used to build client applications in HTML and TypeScript
__________________________________
 await
 await promise response
(promise) يقصد بها انتظار الوعد بالرد
عند استخدامها فانت تقول له انتظر حتى تصل نتيجة الوعد لتكمل تنفيد بقية الكود

 function resolveAfter2Seconds(x) {
  return new Promise(resolve => {
    setTimeout(() => {
      resolve(x);
    }, 2000);
  });
}

// setTimeout هي دالة غير تزامنية ولاتخضع للزمن حيث ان الكود ينفد ولاينتظر اكتمالها
async function f1() {
  var x = await resolveAfter2Seconds(10);
  console.log(x); // 10
}

f1();

await
  تجبر  البرنامج على انتظار الثواني حتى تكتمل لينفد بقية السطور
 لو لم نستخدمها لتجاهل البرنامج انتظار الوعد بالرد وانتقل للسطر الموالي
 دون ان ينتظر الرد
______________________________________________
async
 تعبر عن كود غير تزامني اي أنه لايعرقل
 عمل البرنامج
promise عند تنفيد الكود هده الدوال ترجع لنا كائن من نوع
 promise الدي يعني باختصار (الوعد بالرد)

وهدا الوعد بالرد قد يكون ناجح
 resolve او فاشل rejected
 .في كل الاحوال سيعيد لك رد معين

async function sum(a,b){
   return a + b ;
}
___________________________________
async/await الغرض من دوال
 بشكل متزامن (promises) هو من اجل استقبال الوعود بالرد
 (Promise) دالة ترجع وعد بالرد
 هي دالة غير متزامنة اي ان الكود
لاينتظر الانتهاء من الوعد بالرد ثم يقوم بتنفيد
الكود الموالي (سطر تلو سطر اخر) وانما يقوم بتنفيد دالة الوعد بالرد
ثم يقوم بتنفيد الكود الموالي  بغض النظر أنه
api ادا تم الانتهاء من الرد فمثلا نفترض انك قمت بالاتصال مع
api فالبرنامج لاينتظر الرد من
 لكي يكمل تنفيد الاكواد الموالية
 احيانا قد تحتاج الى الانتظار وتعطيل الكود حتى تأتيك البيانات من السرفر
 timer او لغرض اخر او قد تستعمل
 await و async  او شيء معير  فترغب بان ينتظر الرد  فهنا تظهر ميزة
(synchronously) متزامن async حيث تقوم بوقف التنفيد حتى تستقبل الرد ليصبح الكود بداخل دالة
بمعنى أوضح انك اعلنت عن دالة غير متزامنة  ولكن جسم الدالة (محتوى الدالة) متزامن
مثال

import { Component, OnInit } from '@angular/core';
import { HttpClient } from '@angular/common/http';
@Component({
  selector: 'my-app',
  templateUrl: './app.component.html',
  styleUrls: [ './app.component.css' ]
})
export class AppComponent implements OnInit  {
  name = 'Angular';
  apiUrl = 'https://www.techiediaries.com/api/data.json';

  constructor(private httpClient: HttpClient){}

  ngOnInit(){
    this.fetchData();
  }

   private async fetchData(){
    const data = await this.httpClient.get(this.apiUrl).toPromise();
    console.log("Data: " + JSON.stringify(data));
  }
}
fetchData()الدالة غير متزامنة
 data المتغير
promise بداخل الدالة هو عبارة عن كائن قام بجلب بيانات افتراضية من الخادم ويحولها الى كائن من نوع
toPromise() عن طريق الدالة
data  بعد ان يتم الرد من طرف الخادم ويضمن المتغير
وصول البيانات سيتم تنفيذ التعليمات الموالية والتي في
حالتنا هي
console.log
___________________________________

cli ==> official angular commend line interface
والسوفت وير بتاعى بيقدر يتعرف علية وينفذ commends شاشة بكتب فيها

ng doc docname ==>  لو نسيت توبك معين وعايز افتكره يفتحة على البراوزر
ng doc docname --version7 لو عايزة نسخة قديمة
ng lint ==> warning لو كتبت حاجة غلط او مش مظبوطة يطلع
ng lint --fix ==> هيصلح اللى يقدر علية وااللى ميقدرش علية هيسبهولى
ng s -o --liveReloadFalse ==> reload لو مش عايزة يخلية يعمل هو
ng update ==> بيرفع فرجن الباكتج اللى عندى  فى الابلكشن
بيعرفنى اية اللى محتاج انة يترفع
ng run ==> وتختار امر وترنة angular.json اللى موجودة داخل architect بتدخل جو
ng config ==> لو عايزة ادخل جو كونفجراشن واعدل
ng config version 1.1 لو عايزة اعدل فى الفرجن
ng config cli.packageManager yarn
ng config schematics.schematics/angular:component.style css ==>
css ل scss لو عايزة اغير من
ng g --help ==> لاية generate هيقولى انا هقدر اعمل
_____________

npm ==> node package manager
packages عبارة عن مجموعة
library ممكن تكون package عبارة عن شوية اكواد واحنا بنستخدمها ال package  وكل
npm website دى بقدرها اجبها اون لاين او من على موقع package ال
واقدر استخدمة
node.js ودا موجود جو ال npm client مبتشغلش لوحدها  بتستخدم
node.js يعنى بيتسطب لما اسطب ال
بتستخدم هنا عشان node.js يعنى ال
bundle and optimize our project and use npm (node package manager) to mange
different dependencies
dependencies are things like angular framework itself but
also some other libraries that framework uses
___________
npm consists of three distinct components:

the website
the Command Line Interface (CLI)
the registry
_________________
e2e ==> end to end testing
_________________
node-modules
where all these dependencies you see in the package.json file actually were installed
_________________
package.json
عن طريق الامر
npm init
جواة الوصف بتاع كل حاجة جو المشروع
جواة وصف للحاجة اللى انا سطبتها depandencies بتظهر ال npm لما اجى اسطب حاجة عن طريق ال
packages your projects needs to run correctly
-------------

devDependencies ==>
بس build دا بيساعدنى فى عملية ال
only required for development

_________

package-lock.json
package.json النسخة المفكوكة من النسخة المضغوطة اللى هى
package.json ودا بيطلع وصف دقيق اوى للحاجات اللى موجودة جو ال
_________

npm i
package.json اللى موجودة فى ال  package جوها ال node modules بيسطب ال
__________

webpack ==> فن بناء البروجكيت
Webpack is a bundler. it scans our application looking for javascript files and
merges them into
one ( or more) big file.
Webpack has the ability to bundle any kind of file like JavaScript, CSS,
SASS, LESS, images, HTML, & fonts, etc

The Angular CLI uses Webpack as a module bundler.
Webpack needs a lot of configuration options to work correctly.
The Angular CLI sets up all these configuration options behind the scene

The Webpack traverses through our application looking for javascript and other files and merges all
of them into one or more bundles.In our example application, it has created five files.

عشان اسطبها
npm i webpack webpack-cli --save-dev
 لان دى حاجات مساعدة مش طالعة فى الابلكشن devDependencies كدة هتبقى فى ال
وعشان ارن
npm run build
_________________________
testing الانجلر بتوفر نوعان من ال
1- unit testing
2- end to end testing
protractor ==> end to end testing ودا خاص بال
__________________
editorconfig ==> Editor configuration
__________________
gitignore ==>
عشان مساحتة كبيرة node_module وانا برفع على الجت هاب بقولة مترفعش اية على الجت هاب زى ال
_____________________
angular.json ==> default configration بتاعة cli لكل الابلكشن
schema ==>  tool to validate json file
عشان مكتبش اى حاجة وبترشح حاجات معينة
json file الجزء اللى تحتها فى نفس الملف
__
newProjectRoot ==>
جديدة فالحاجات دى بتنزل فى فولدر library او internal project ممكن تعمل
__
project type ==> library نوع البروجكيت سوء كان ابلكشن او
__
schematics ==>
configration
ال cli بتعتمد عليها
prefix ==>  بداية اسم السليكتور
______________________
browserslist ==>
 browser مع ال  compotable فى الجافا اسكربت اللى طالع بحيث يبقى configration عبارة عن
 اتغير يبقى مناسب مع الجافا اسكربت اللى طالعة browser عشان لو الفرجن بتاع ال
عن طريق الامر دة
npx browserslist
موجود جواة
____________________

karma.conf.js ==>
unit testing هى رونر بتاع الجاسمن الخاص بال   karma  و  karma بتاعة  configuraton ال
____________________
README ==> root app لل  decomnation دا
 ماشية ازاى instruction عشان نعرف نشيل الفايل ونعرف ال
_____________________
tslint.json ==> tool type script
 او ايرور warning بيبص على كود التايب اسكربت اللى انا كتبة لو هو كويس لو فى
_______________________________
test.ts ==> entry point بتاع unit testing
karma.config.js ==> بيستخدم الفايل دة عشان يقدر يعمل لود ويقدر يتعامل مع اليونت تستنج ويرنها
__________________________
polyfills.ts ==>
طريقة لحل فكرة ان الكود الجديد اللى بكتبة اللى بيستخدم الفيتشر بتاعة البروزر الجديدة
 يقدر يشتغل على البروز القديم
__________________________
main.ts ==> entry point application
عامل كاتش للابلكشن كامل جو الحتة دى
this bootstraps starts our angular application by passing an app
platformBrowserDynamic().bootstrapModule(AppModule)
  .catch(err => console.error(err));
__________________
index.html ==> main html
لما بعمل سيرف للابلكشن دى اللى بترن
__________________
enviroment ==>
البروجكيت بيتقسم على
3 enviroment
ال developer على انفيرومينت
وال quality على انفيرومينت
وال production على انفيرومينت
enviroment فال
برانش للابلكشن اللى بنعملة
____________________
iv  ==> اللى كانت بتطلع بقت بتطلع بشكل ادق واحسن instruction ال
من مزايا؟؟
هيطلع بروجكيت بحجم اقل لان فى انستركشن جديدة واستراتجى جديدة
بيوفر سرعة
testing وال  debbigging احسن فى ال experiance بيوفر
type بتاعة ال checking فى تحسينات فى ال
build والايروروز اللى بتطلع واحنا بنعمل
build time وال
______________
AoT ===> ahead of time
instructions java script ل typescript وال html هو اللى بيحول كود ال
build البروزر يقدر يففهمها خلال عملية ال
____________________
؟ JIT وال AOT الفرق بين ال

compiler انجلر بتوفر نوعان م ال
1-justin time (JIT)
running هيتم اثناء ال compilation ال
للكود مرة واحدة يعنى مش كل مرة يرن فيها الكود compile كان بيجصل انة بيتعمل angular 8 لحد
ويظهرلنا شكل الموقع مع العلم ان الكود اللى assets فلما يجى اليوزر ينادى على الموقع يبدء يحمل كل ال
 بيتحول من اول مرة هوالكود المهم وكل ما يحتاج جزء او كمبونت يحولة يعنى كل حاجة بتحصل فى البروزر

2-ahead of time (AOT)
angular 9 دا من اول
runtime هيتم قبل ال compilation ال

deploy قبل ما يترفع على السرفير اصلا ويتعملة build للبروجكيت كلة من وانت بتعمل compile وهو انة بيعمل
بتظهر بدرى ليك مش errors بقى اقل دة غير ان ال bundled file بقى اسرع وحجم ال render ودى ادى الى ان ال
فبيبقى صعب انة حد من برة يشوف js فى ملف ال html,css افضل علشان بيحط ملفات ال security لليوزر وكمان ال
لأى حاجة enject الكود ويعمل
ويخلص كلة وبعد كدة البروزر يقدر يعمل دون لود الفايلات اللى معمول ليها كومبيل build يعنى بيعمل
JIT افضل من ال Aot فال
debugging عشان ال Development فى ال JIT فبنشتغل
production فى ال Aot ونشتغل
_______________
ng update @angular/cli@8 @angular/core@8
ng update @angular/cli @angular/core
______________
app.module
tell angular which pieces belong to our app and there we have
to add something to imports to import another package from angular

________

what is a bootstrapping?
is a technique of initializing or loading our angular application
let’s walk through our code created in Create your First new Angular project and see what happens
at each stage and how our AppComponent gets loaded and displays “app works!”

Angular takes the following steps to load our first view ?
1- index.html loads (starting point)
--------------------------------------------------------------
2- angular,third-party libraries & application loads
To run our application, we use the Angular CLI command ng serve or npm start
How do Angular loads ? To Find out, let us build our application
ng serve ==> does build our application but doesn't save the compiled application to the disk,
it saves it in memory and starts the development server
ng build ==> to build our app and copy the output files to the dist folder
ng build --prod ==> to build and distribute the app for production
open the dist and open the index.html
five script files لما افتح هلاقى
1- runtime.js : webpack runtime file
2- polyfills.js : polyfill scripts for supporting the variety of the latest modern browsers
3- styles.js : this file contains the global style rules bundled as javascript file
4- vendor.js : contains the scripts from the angular core library and any other 3rd party library
5- main.js : code of the application
all these files have two versions one is es5 & other one es2015 (es6)
----------------------------------------------------------------------------
3- main.ts the application entry point
The Angular finds out the entry point from the configuration file angular.json.
This file is located in the root folder of the project.
------------------------------------------------------------------------------
4- root module (AppModule)
The Angular applications are organized as modules.
 Every application built in Angular must have
at least one module. The module,
 which is loaded first when the application is loaded is called a
root module
The platformBrowserDynamic loads the root module by
invoking the bootstrapModule and giving it the reference to our Root module i.e AppModule
platformBrowserDynamic().bootstrapModule(AppModule)
  .catch(err => console.error(err))
-----------------------------------------------------------------------------------
5- root component
-----------------------------------------------------------------------------------
6- template
_______
angular version 2 generated only three script files
(inline.js & styles.bundle.js & main.bundle.js)
_______
platformBrowserDynamic
is the module,which is responsible for loading the Angular application in the
desktop browser
_______
The Angular Applications can be bootstrapped in many ways and in many platforms.
For example,
we can load our application in a Desktop Browser or in a mobile device with Ionic or
NativeScript.
______
If you are using the nativescript, then you will be using platformNativeScriptDynamic from
nativescript-angular/platform library and will be calling
platformNativeScriptDynamic().bootstrapModule(AppModule)
______
We use @NgModule class decorator to define a Angular Module and provide metadata
about the Modules
The @NgModule has several metadata properties.
1- imports
We need to list all the external modules required including other Angular modules,
that is used by this Angular Module
2- Declarations
The Declarations array contains the list of components, directives, & pipes that belong to this
Angular Module.We have only one component in our application AppComponent.
3- Providers
The Providers array, is where we register the services we create. The Angular Dependency injection
framework injects these services in components, directives. pipes and other services.
4- Bootstrap
The component that angular should load, when this Angular Module loads.
The component must be part of this module. We want AppComponent load when AppModule loads,
hence we list it here.
The Angular reads the bootstrap metadata and loads the AppComponent

__________
Synchronous VS aSynchronous ?
Synchronous :-
كود تزامنى هو عبارة عن تنفيذ لسطر برمجى معين وتعطيل النظام حتى يكتمل تنفيذ السطر الحالى لكى
ينتقل للسطر التالى فلا يمكنة تنفيذ السطر التالى قبل ان يكمل سطرة السابق
aSynchronous :-
مش بيحصل تعطيل للنظام
______
transpiling
عملية تحويل من تايب اسكربت لجافا اسكربت
-->

<!-- make filter -->
<input type="text" name="" id="" [(ngModel)]="value">
<div id="suggest">
    <ol>
        <ng-container *ngIf="!fileredElem">
            <li *ngFor="let elem of allData">{{elem.Name}}</li>
        </ng-container>
        <ng-container *ngIf="fileredElem">
            <li *ngFor="let elem of fileredElem">{{elem.Name}}</li>
        </ng-container>
    </ol>
</div>
</div>
<!--
difference between *ngIf and hidden ?
1- ngIf
 will comment out the data if the expression is false.
  This way the data are not even loaded, causing HTML to load faster.
2- [hidden]
will load the data and mark them with the hidden HTML attribute.
This way data are loaded even if they are not visible.

So [hidden] is better used when we want the show/hide status to change frequently,
for example on a button click event, so we do not have to load the data every time the
button is clicked, just changing its hidden attribute would be enough.

_______________
difference between opacity:0 & visibility:hidden  dispaly:none?


-->
