<div class="parent">
<p>parent</p>
<input type="text" [(ngModel)]="ServiceService.value">
<input type="text" (keyup)="ServiceService.value.next($event,target.value)">
<!-- 
    <app-child></app-child> 
    لما اشيل دى وابعتها جوة السيلكتور بتاع ال
    parent
    واحط بدلها
    <ng-content></ng-content>
     فهنا مش هيتاثر بالبيرنت
-->
<ng-content></ng-content>
</div>

login : {{this.ServiceService.login()}}
<h3>History</h3>
    <ul>
      <li *ngFor="let event of history">{{event}}</li>
    </ul>